html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}

#main-nav{
    background-color: transparent;
}
section{
    height: 100vh;
}
#home{
    background-image: url(images/banner3\ \(3\).jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-col{
    margin-top: 25%;
}
i{
    color:black;
}
img{
    min-width: 100%;
    max-height: 50vh;
    filter:grayscale(1);
}
.img-hero{
    height: auto;
}
.spacing{
    margin-top: 10%;
}
.card-icon{
    font-size: 3rem;
}